@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Darker+Grotesque:wght@600;700&family=El+Messiri:wght@600&family=Great+Vibes&family=Libre+Baskerville:wght@700&family=Lora:wght@700&family=Manrope&family=Michroma&family=Playfair+Display+SC:wght@400;700&family=Prata&family=Red+Hat+Text:wght@500;600&family=Taviraj:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


.custom-img {
    background-image: url('/unsplash.jpg');
  }

  .link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 2px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .3s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#000000, #000000)
	}

	.link-underline:hover {
		background-size: 100% 2px;
		background-position: 0 100%
  }